@{
    ViewData["Title"] = "Over ons";
	Layout = "~/Views/Shared/_NavLayout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<p>
    Ons team bestaat uit de volgende personen;
    <ul>
        <li>Johnathan Dall - Full-stack developer/C# developer</li>
        <li>Nick van de Pepel - Teamleider/Scrum master</li>
        <li>Stevan van de Kamp - Front-end developer</li>
        <li>Stevan van Waveren - Front-end developer</li>
    </ul>
</p>

<h2>De App</h2>
<p>
    Deze app is schreven voor Trenton bv.
    De opdracht die aan ons is gegeven is het moderniseren hun interne ticketing system. Deze was geschreven in de tijd dat ASP.NET Webforms modern was.
</p>

<h2>Achterliggend Techniek</h2>
<p>
    <ul>
        <li>
            <h3>ASP.NET Core</h3>
        </li>
        ASP.NET Core is de nieuwste iteratie van de webframework gecreerd door Microsoft. Deze framework is geinspirereert door de oude ASP.NET framework. In tegenstelling tot de oude framework word ASP.NET Core ontwikkeld als een modulair open-source framework die, in de toekomst, zowel voor websites als cross-platform .NET framework applicatie geschreven word.
        <li>
            <h4>MVC</h4>
        </li>
        Model View Controller (MVC) MVC is een ontwerppatroon dat wordt gebruikt om gebruikersinterface (weergave), gegevens (model) en toepassingslogica (controller) te ontkoppelen. Dit patroon helpt om zorgen te scheiden.
        <li>
            <h3>Entity Framework Core</h3>
        </li>
        Entity Framework (EF) Core is een lichtgewicht en uitbreidbare versie van de populaire Entity Framework-gegevenstoegangstechnologie. EF Core is een object-relationele mapper (O / RM) waarmee .NET-ontwikkelaars met .NET-objecten kunnen werken met een database.
    </ul>
</p>