@{
    ViewData["Title"] = "Over ons";
}
<h1>@ViewData["Title"]</h1>
<p>
    Ons team bestaat uit de volgende personen;
    <ul>
        <li>Johnathan Dall - Back-end developer/C# developer</li>
        <li>Nick van de Pepel - Teamleider/Scrum master</li>
        <li>Stevan van de Kamp - Front-end developer</li>
        <li>Stevan van Waveren - Front-end developer</li>
    </ul>
</p>

<h2>De App</h2>
<p>
    Deze app is schreven voor Trenton bv.
    De opdracht die aan ons is gegeven is het moderniseren hun interne ticketing system. Deze was geschreven in de tijd dat ASP.NET Webforms modern was.
</p>

<h2>Achterliggend Techniek</h2>
<p>
    <h3>ASP.NET Core</h3>
    <h4>MVC</h4>
    <h3>Entity Framework Core</h3>
</p>