@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>op de Trenton ticketing system(<i>Beta</i>)</p>
    <p>Deze app is een concept die uiteindelijk gebruikt kan worden voor het registreren, documenteren en updaten van het interne ticketing systeem.</p>
</div>
