@{
    ViewData["Title"] = "Privacy Policy";
	Layout = "~/Views/Shared/_NavLayout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page is a placeholder that will detail your site's privacy policy.</p>
